body {
  background-color: #ede7f6;
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 16px;
  overflow: visible;
}

.header-toolbar-floating {
  position: absolute;
  right: 193px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toolbar-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.toolbar-btn:hover {
  background: #f1f1f1;
}

.form-header {
  background: white;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-top: 8px solid #673ab7;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}

.form-header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #4285f4;
  transition: width 0.2s ease;
}

.form-header:focus-within::before {
  width: 6px;
}

.form-header:focus-within {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.form-title {
  font-size: 32px;
  font-weight: 500;
  border: none;
  width: 100%;
  outline: none;
  border-bottom: 2px solid transparent;
}

.form-title:focus {
  border-bottom: 2px solid #673ab7;
}

.form-description {
  margin-top: 10px;
  font-size: 14px;
  border: none;
  width: 100%;
  outline: none;
  border-bottom: 2px solid transparent;
  color: #666;
}

.form-description:focus {
  border-bottom: 2px solid #673ab7;
}

.question-card {
  background: white;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  position: relative;
  /* overflow: hidden; */
  transition: box-shadow 0.2s ease;
}


.question-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #4285f4;
  transition: width 0.2s ease;
}

.question-card:focus-within::before {
  width: 6px;
}

.question-card:focus-within {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.question-input {
  flex: 1;
  font-size: 18px;
  border: none;
  background: #f8f8f8;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 10px;
}

.question-input:hover{
  background: #f1f1f1;
}

.answer-input {
  width: 100%;
  font-size: 15px;
  border: none;
  border-bottom: 1px dotted #999;
  outline: none;
  margin-top: 18px;
  padding: 6px 0;
  background: transparent;
}

.question-input:focus {
  border-bottom: 2px solid #673ab7;
}

.question-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.question-type {
  min-width: 180px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
}

.options {
  margin-top: 20px;
}

.option {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.option input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 4px 0;
}

.option input[type="text"]:hover {
 border-bottom: 1px solid #ccc;
}

.option input[type="text"]:focus {
  border-bottom: 2px solid #673ab7;
}

.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;

  color: #5f6368;
  transition: background 0.2s ease;
}

.delete-btn:hover {
  background-color: #f7f4f4;
}

.add-option-row {
  color: #5f6368;
}

.add-option-text {
  font-size: 14px;
}

.add-option-text:hover{
  text-decoration: underline;
}

.add-other {
  color: #1a73e8;
  margin-left: 4px;
}

.add-other {
  color: #1a73e8;
  cursor: pointer;
}

.question-wrapper {
  position: relative;
}

.toolbar {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toolbar button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.toolbar button:hover {
  background: #f1f1f1;
}

.scale-container {
  margin-top: 20px;
}
.scale-range {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}
.scale-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  text-align: center;
}
.scale-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.scale-labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.scale-labels input {
  width: 48%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 4px 0;
}
.scale-labels input:focus {
  border-bottom: 2px solid #673ab7;
}
.scale-range select {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.scale-range select:focus {
  border: 1px solid #ccc;
}
.scale-range span {
  font-size: 14px;
  color: #5f6368;
}
.scale-labels {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.scale-label-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 45%;
}
.scale-label-item input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.scale-label-item input:focus {
  border-bottom: 2px solid #673ab7;
}
.range-que {
  font-size: 14px;
  color: #777676;
}


.scale-label-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  font-size: 13px;

}

.scale-label-row span:first-child {
  justify-self: start;
}

.scale-label-row span:last-child {
  justify-self: end;
}


.rating-container{
  margin-top: 16px;
}

.rating-settings{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.rating-settings select{
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.rating-numbers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  text-align: center;
  margin-bottom: 6px;
}


.rating-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  text-align: center;
}

.rating-icon{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
 /* transition: transform 0.1s ease, color 0.2s ease; */
}

.rating-num{
  font-size: 15px;
}

.grid-edit{
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.grid-edit > div{
  flex: 1;
}

.grid-edit p{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.row-item-grid{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}


.row-item-grid input[type="text"]{
  flex: 1;
  border: none;
  outline: none;
  padding: 4px 0;
  border-bottom: 1px solid transparent;
  /* transition: border-bottom 0.3s ease; */
}

.row-item-grid input[type="text"]:hover{
  border-bottom: 1px solid #ccc;
}

.row-item-grid input[type="radio"]{
  margin-left: 4px;
}

.row-item-grid input[type="text"]:focus {
  border-bottom: 2px solid #673ab7;
}

.delete-btn-grid {
  width: 28px;
  height: 28px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: #5f6368;
}

.delete-btn-grid:hover {
  background: #f1f3f4;
}

.add-row-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
  color: #5f6368;
}

.add-row {
  font-size: 14px;
}

.add-row:hover {
  text-decoration: underline;
}


.grid-table {
  display: grid;
  gap: 12px;
  margin-top: 20px;
  align-items: center;
}

.grid-col-header {
  text-align: center;
  font-size: 14px;
}

.grid-row-header {
  font-size: 14px;
}

.grid-cell {
  display: flex;
  justify-content: center;
}

.row-item-grid input[type="checkbox"],
.row-item-grid input[type="radio"] {
  width: 16px;
  height: 16px;
}

.add-row-wrapper input[type="checkbox"],
.add-row-wrapper input[type="radio"] {
  width: 16px;
  height: 16px;
}

.grid-cell input[type="checkbox"],
.grid-cell input[type="radio"] {
  width: 16px;
  height: 16px;
}


.option input[type="checkbox"],
.option input[type="radio"] {
  width: 16px;
  height: 16px;
}


.date-container {
  margin-top: 16px;
}

.date-input {
  width: 200px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
  font-size: 14px;
  outline: none;
  background: transparent;
}

.date-input:focus {
  border-bottom: 2px solid #673ab7;
}


.date-input::placeholder {
  color: #5f6368;
}


.time-container {
  margin-top: 16px;
}

.time-input {
  width: 150px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
  font-size: 14px;
  outline: none;
  background: transparent;
}

.time-input:focus {
  border-bottom: 2px solid #673ab7;
}

.time-input::placeholder {
  color: #5f6368;
}