* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  width: 90%;
  max-width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.quiz-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

#progress {
  margin-bottom: 15px;
  color: #666;
  font-weight: bold;
}

#question {
  margin-bottom: 20px;
  color: #222;
}

.option-btn {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.option-btn:hover {
  background-color: #dbeafe;
}

.option-btn.selected {
  background-color: #60a5fa;
  color: white;
}

#button-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;

}

#prev-btn,
#next-btn {
  flex: 1;
  padding: 12px;
  border: none;
  justify-content: center;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#prev-btn {
  background-color: #6b7280;
  color: white;
}
#prev-btn:hover {
  background-color: #4b5563;
}

#next-btn {
  background-color: #2563eb;
  color: white;
}

#next-btn:hover {
  background-color: #1d4ed8;
}

#result {
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  color: #111;
}

.hidden {
  display: none;
}

.score-box{
  text-align: center;
  background: #eef6ff;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.summary-card{

  text-align: left;
  margin-top: 20px;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.correct-card{
  border-left: 5px solid #22c55e;
}

.wrong-card{
  border-left: 5px solid #ef4444;
}

.summary-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}

.summary-card:hover{
  border-color: #646262;
}

.summary-header h3{
  font-size: 18px;
  color: #222;
}

.summary-option{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #f3f4f6;
}

.correct-option{
  background: #dcfce7;
  color: #166534;
  border: 1px solid #22c55e;
}

.wrong-option{
  background: #fee2e2;
  color: #991b1b;
  border: 1px solid #ef4444;
}

.correct-answer-text{
  margin-top: 10px;
  font-weight: bold;
  color: #16a34a;
}